<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/mypage/shipping_address_book.css">
    <link rel="stylesheet" href="/static/css/mypage/style.css">
    
    <link rel="shortcut icon" href="/image/images/Brand_img/favicon_img.ico">
    
    <title>shipping_address_book</title>
</head>
<body>
     
    <div class="overlay"></div>
    
    <header th:replace="~{fragment/header :: header}"></header>
    
    <div class="contents">
        <div class="titleArea">
            <h2 style="margin-top: 0px;margin-bottom: 0px;">ADDESS BOOK</h2>
        </div>
        <ul class="sideMenu">
            <h2>Account</h2>
            <li><a href="/account/mypage">마이쇼핑</a></li>
            <li><a href="/account/mypage/order">주문내역조회</a></li>
            <li><a href="/account/mypage/user">회원정보관리</a></li>
            <li><a href="/account/mypage/address">배송주소록</a></li>
        </ul>
        <div id="addressBook" style="width:1000px; margin:0 auto" class="addressBook-font">
            <p style="width:100%; text-align:center; font-size:13px; margin:10px 0 20px">자주 쓰는 배송지를 등록 관리하실 수 있습니다.</p>
            <form id="frmAddr" name="" action="/exec/front/Myshop/Addr/?mode=Delete&amp;return_url=%2Fmyshop%2Faddr%2Flist.html" method="post" target="_self" enctype="multipart/form-data">
                <input id="__address_addr1" name="__address_addr1" value="" type="hidden">
                <input id="__city_name" name="__city_name" value="" type="hidden">
                <input id="__state_name" name="__state_name" value="" type="hidden">
                <input id="__isRuleBasedAddrForm" name="__isRuleBasedAddrForm" value="" type="hidden">
                <input id="__use_foreign_country_list" name="__use_foreign_country_list" value="F" type="hidden">
                <input id="__ma_rcv_contry_code" name="__ma_rcv_contry_code" value="" type="hidden">
                <input id="__country" name="__country" value="" type="hidden">
                <input id="__province" name="__province" value="" type="hidden">
                <input id="__city" name="__city" value="" type="hidden">
                <input id="__district" name="__district" value="" type="hidden">
                <input id="is_display_phone" name="is_display_phone" value="" type="hidden">
                <input id="is_display_mobile" name="is_display_mobile" value="" type="hidden">
                <input id="sUseCountryNumberFlag" name="sUseCountryNumberFlag" value="T" type="hidden">
                <div class="xans-element- xans-myshop xans-myshop-addrlist">
                    <!--$return_url = /myshop/addr/list.html-->
                    <div class="ec-base-table typeList">
                        <table border="1" summary>
                            <!-- <caption>배송 주소록 목록</caption> -->
                            <colgroup>
                                <col style="width:95px">
                                <col style="width:95px">
                                <col style="width:120px">
                                <col style="width:120px">
                                <col style="width:auto">
                                <col style="width:76px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">배송지명</th>
                                    <th scope="col">수령인</th>
                                    <th scope="col">일반전화</th>
                                    <th scope="col">휴대전화</th>
                                    <th scope="col">주소</th>
                                    <th scope="col">수정</th>
                                </tr>
                                
                            </thead>
                            <tbody class="center">
                                
                            </tbody>
                            <tbody class="">
                                <!-- <tr>
                                    <td colspan="8" class="message">등록된 주소가 없습니다.</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="checkBtn">
                        <span class="gRight">
                            <a href="/account/mypage/address/registration">배송지등록</a>
                        </span>
                    </div>
                </div>
            </form>
            <!-- <div class="ec-base-help">
                <h3>배송주소록 유의사항</h3>
                <div class="inner">
                    <ol>
                        <li class="item1">배송 주소록은 최대 10개까지 등록할 수 있으며, 별도로 등록하지 않을 경우 최근 배송 주소록 기준으로 자동 업데이트 됩니다.</li>
                        <li class="item2">자동 업데이트를 원하지 않을 경우 주소록 고정 선택을 선택하시면 선택된 주소록은 업데이트 대상에서 제외됩니다.</li>
                        <li class="item3">기본 배송지는 1개만 저장됩니다. 다른 배송지를 기본 배송지로 설정하시면 기본 배송지가 변경됩니다.</li>
                    </ol>
                </div>
            </div> -->
        </div>
    </div>
    <script src="/static/js/mypage/shipping_address_book.js"></script>
</body>
</html>