<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- 여기서부터 카피 -->
    <div class="overlay"></div>

    <header th:fragment="header">
    <!-- <header> -->
        <div class="header-container">
            <div class="header-flex">
                <div class="header-left-container">
                    <div class="menu-container">
                        <div class="site-nav-menu">
                            <div class="site-nav-parent">
                                <a href="" class="menu-product">제품</a>
                            </div>
                            <nav class="nav-invisible">
                                <div class="site-nav-mega">
                                    <a href="/products/collection/all">전체</a>
                                    <a href="/products/collection/metal"><span class="metal-button">메탈</span>
                                        <img src="/image/images/Logo_img/catemetal.jpg"
                                            class="metal-image image-display" alt="">
                                    </a>
                                    <a href="/products/collection/acetate"><span class="acetate-button">아세테이트</span>
                                        <img src="/image/images/Logo_img/cateacetate.jpg"
                                            class="acetate-image image-display" alt="">
                                    </a>
                                    <a href="/products/collection/combination"><span
                                            class="combination-button">콤비네이션</span>
                                        <img src="/image/images/Logo_img/cateCombination.jpg"
                                            class="combination-image image-display" alt="">
                                    </a>
                                </div>
                                <div class="site-nav-mega site-nav-mega2">
                                    <a href="/products/collection/refined"><span class="refined-button">리파인드</span>
                                        <img src="/image/images/Logo_img/cateRefined.jpg"
                                            class="refined-image image-display" alt="">
                                    </a>
                                    <a href="/products/collection/vintage"><span class="vintage-button">빈티지</span>
                                        <img src="/image/images/Logo_img/cateVintage.jpg"
                                            class="vintage-image image-display" alt="">
                                    </a>
                                    <a href="/products/collection/sunglasses"><span
                                            class="sunglasses-button">선글라스</span>
                                        <img src="/image/images/Logo_img/cateSunglasses.jpg"
                                            class="sunglasses-image image-display" alt="">
                                    </a>
                                    <a href="/products/collection/acc"><span class="acc-button">Acc</span>
                                        <img src="/image/images/Logo_img/cateAcc.jpg" class="acc-image image-display"
                                            alt="">
                                    </a>
                                </div>
                            </nav>
                            <div><a href="/campaign" class="">캠페인</a></div>
                            <div><a href="/journal" class="">저널</a></div>
                            <div><a href="/brand" class="">브랜드</a></div>
                        </div>
                    </div>
                </div>
                <!-- 로고 -->
                <div class="logo-container">
                    <a href="/index"><img src="/image/images/Logo_img/lash_logo.png" alt=""></a>
                </div>
                <div class="header-right-container">
                    <!-- search -->
                    <div class="search-box">
                        <form action="." method="get">
                            <input class="search-text search-display" type="text" placeholder="">
                            <span class="search-button" type="submit">
                                <!-- <i class="fas fa-search"></i> -->
                            </span>
                        </form>
                    </div>
                    <button class="site-header-button">
                        <a href="/account/mypage">My page</a>
                    </button>
                    <button class="site-header-button account-button"></button>
                    <button class="site-header-button basket-button"><a href="/shopping-basket">My Shopping Basket</a>
                        <!-- <span class="basket-count">0</span> -->
                    </button>
                </div>
            </div>
        </div>
        <script src="/static/js/header.js"></script>
    </header>

</body>
</html>