<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Raleway:wght@500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/page_product/product_all.css">
    
    <link rel="shortcut icon" href="/image/images/Brand_img/favicon_img.ico">

    <title>Optical | LASH 래쉬 안경테</title>
</head>

<body>
    <div class="overlay"></div>

    <header th:replace="~{fragment/header :: header}"></header>

    <section>

        <div class="product-container">

            <!-- <div class="product-first-img">
                <img src="/image/images/product_img/product_first_img/all.png">
                <div></div>
            </div> -->

            <!-- <div class="product-list">
                <div class="product-list-img">
                    <div class="product-hunter">
                        
                        <a href="/templates/page_product/product_detail.html">
                            <img src="/image/images/product_img/Combination_img/Combination_Hunter_C1.jpg">
                        </a>

                    </div>
                    <div class="product-hunter">
                        <img src="/image/images/product_img/Combination_img/Combination_Hunter_C2.jpg">
                    </div>
                    <div class="product-hunter">
                        <img src="/image/images/product_img/Combination_img/Combination_Hunter_C3.jpg">
                    </div>
                    <div class="product-hunter">
                        <img src="/image/images/product_img/Combination_img/Combination_Hunter_C4.jpg">
                    </div>
                </div>
                
                <div class="product-info-box">
                    <div class="product-info-text">
                        <p class="product-name">HUNTER</p>
                        <p class="product-price">245,000</p>
                    </div>

                    <div class="product-info-color">
                        <img src="/image/images/product_img/product_color_img/HUNTER_c1.jpg">
                        <img src="/image/images/product_img/product_color_img/HUNTER_c2.jpg">
                        <img src="/image/images/product_img/product_color_img/HUNTER_c3.jpg">
                        <img src="/image/images/product_img/product_color_img/HUNTER_c4.jpg">
                    </div>
                </div>
            </div> -->

        </div>


    </section>

    <script src="/static/js/page_product/product_all.js"></script>

</body>

</html>