<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/page_campaign/campaign.css">

    <link rel="shortcut icon" href="/image/images/Brand_img/favicon_img.ico">
    
    <title>LASH 래쉬 | 안경테</title>
</head>
<body>
    <div class="overlay"></div>

    <header th:replace="~{fragment/header :: header}"></header>
    
    <section>
        <div class="content-container">
            <li>
                <div class="content-row">
                    <a href="/campaign/lookbook/10">
                        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_1.jpg">
                    </a>
                    <div class="content-title"><span>2022 Refined</span></div>
                </div>
            </li>
            <li>
                <div class="content-row none">
                    <img src="/image/images/Campaign_img/Campaign02_img/Campaign02_1.jpg">
                    <div class="content-title"><span>2022 VINTAGE EDITION EDITORIAL <br> PORTRAIT</span></div>
                </div>
            </li>
            <li>
                <div class="content-row none">
                    <img src="/image/images/Campaign_img/Campaign03_img/Campaign03_1.jpg">
                    <div class="content-title"><span>2022 VINTAGE EDITION 'Lee Dong Hwi' <br>EDITORIAL</span></div>
                </div>
            </li>
            <li>
                <div class="content-row none">
                    <img src="/image/images/Campaign_img/Campaign04_img/Campaign04_1.jpg">
                    <div class="content-title"><span>2022 VINTAGE 2ND BIKE LOOKBOOK</span></div>
                </div>
            </li>
        </div>
        <div class="content-container">
            <li>
                <div class="content-row none">
                    <img src="/image/images/Campaign_img/Campaign05_img/Campaign05_1.jpg">
                    <div class="content-title"><span>22 COLLECTION 'MODERN UNIFORM'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row none">
                    <img src="/image/images/Campaign_img/Campaign06_img/Campaign06_1.jpg">
                    <div class="content-title"><span>2021 SPECIAL EDITION 'Refined'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row none">
                    <img src="/image/images/Campaign_img/Campaign07_img/Campaign07_1.jpg">
                    <div class="content-title"><span>AMERICAN VINTAGE EDITION <br> 'RETROSPECT X RED STRIPE <br> BARBERSHOP'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row none" >
                    <img src="/image/images/Campaign_img/Campaign08_img/Campaign08_1.jpg">
                    <div class="content-title"><span>21S/S COLLECTION 'FRAME UNIFORM'</span></div>
                </div>
            </li>
        </div>
        <div class="content-container">
            <li>
                <div class="content-row none">
                    <img src="/image/images/Campaign_img/Campaign09_img/Campaign09_1.jpg">
                    <div class="content-title"><span>20A/W COLLECTION 'FRAME UNIFORM'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                    <!-- a 태그 수정(삭제) 해야함 - 페이지 이동 확인용임) -->
                    <a href="/campaign/lookbook/1"><img src="/image/images/Campaign_img/Campaign10_img/Campaign10_1.jpg"></a>
                    <div class="content-title"><span>2019 COLLECTION 'LASH, Special <br> Moments'</span></div>
                </div>
            </li>
            <li>
                <div class="content-row">
                </div>
            </li>
            <li>
                <div class="content-row">
                </div>
            </li>
        </div>
    </section>
</body>
</html>