<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/page_campaign/lookbook.css">
    
    <link rel="shortcut icon" href="/image/images/Brand_img/favicon_img.ico">
    
    <title>2019 COLLECTION 'LASH, Special Moments' | 래쉬 안경테</title>
</head>

<body>
    <div class="overlay"></div>

    <header th:replace="~{fragment/header :: header}"></header>
    
    <div class="lookbook-detail-top">
        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_1.jpg">
        <div class="lookbook-top-title">2019 COLLECTION 'LASH, Special Moments'</div>
    </div>
   
    <div class="lookbook-detail-content">
        <div class="new-line"><br><br><br><br><br></div>
        <div class="lookbook-detail-title">
            <span>LASH F/W 2019 COLLECTION 'LASH, Special Moments'</span>
        </div>
        <div class="lookbook-detail-text">
            <span>배우 봉태규의 특별한 순간이 담긴 래쉬의<br>
                2019 F/W 캠페인 'LASH, Special Moments'는 <br>
                클래식한 무드에 레트로한 감성을 덧칠해 완성했다. <br>
                자신만의 비밀스러운 특별한 순간을 위한 남자의 준비 과정, <br>
                그리고 그 속에 아이웨어를 강조해 담아냈다. 
            </span>
        </div>

        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_2.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_3.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_4.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_5.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_6.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_7.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_8.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_9.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign10_img/Campaign10_10.jpg" alt="">
   
        <div class="lookbook-detail-bottom">
            <div class="bottom-left-area">
                <div class="bottom-list-button">
                    <a href="/campaign">
                        BACK TO LIST
                    </a>
                </div>
            </div>
            <div class="bottom-right-area"></div>
        </div>
    </div>

    <script src="/static/js/page_campaign/campaign_lookbook.js"></script>
</body>
</html>