<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/page_campaign/lookbook.css">
    
    <link rel="shortcut icon" href="/image/images/Brand_img/favicon_img.ico">
    
    <title>2022 Refined | 래쉬 안경테</title>


    <style>
        .lookbook-detail-content img {
            margin-bottom: 20px;
            width: 100%;
        }
    </style>

</head>
<body>
    <div class="overlay"></div>

    <header th:replace="~{fragment/header :: header}"></header>

    <div class="lookbook-detail-top">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_1.jpg">
        <div class="lookbook-top-title">2022 Refined</div>
    </div>
    
    <div class="lookbook-detail-content">
        <div class="new-line"><br><br><br><br><br><br></div>
        <div class="lookbook-detail-title">
            <span>lash 2022 Refined</span>
        </div>

        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_2.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_3.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_4.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_5.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_6.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_7.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_8.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_9.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_10.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_11.jpg" alt="">
        <img src="/image/images/Campaign_img/Campaign01_img/Campaign01_12.jpg" alt="">
   
        <div class="lookbook-detail-bottom">
            <div class="bottom-left-area">
                <div class="bottom-list-button">
                    <a href="/campaign">
                        BACK TO LIST
                    </a>
                </div>
            </div>
            <div class="bottom-right-area"></div>
        </div>
    </div>

    <script src="/static/js/page_campaign/campaign_lookbook.js"></script>

</body>
</html>