<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/journal/style.css">
    <link rel="stylesheet" href="/static/css/journal/journal_all.css">
    
    <link rel="shortcut icon" href="/image/images/Brand_img/favicon_img.ico">

    <title>d_class_store</title>
</head>

<body>
    <div class="overlay"></div>
    
    <header th:replace="~{fragment/header :: header}"></header>

    <div class="contents">
        <div class="jd-container">
            <div class="xans-element- xans-product xans-product-detail journal-detail ">
                <div class="xans-element- xans-product xans-product-image jd-image-section ">
                    <div class="xans-element- xans-product xans-product-addimage">
                        <div style="display:none;" class="xans-record-">
                            <span>
                                <img src="//img.echosting.cafe24.com/thumb/img_product_big.gif" class="ThumbImage"
                                    alt="">
                            </span>
                        </div>
                        <div class="jd-image xans-record-"><img
                                src="//www.lasheyewear.com/web/product/extra/big/202211/9b2bc27731f6def1bce0a3845ffabd45.jpg"
                                class="ThumbImage" alt=""></div>
                        <div class="jd-image xans-record-"><img
                                src="//www.lasheyewear.com/web/product/extra/big/202211/53519a90fb30dd5ec4e70e9a2b3c9c45.jpg"
                                class="ThumbImage" alt=""></div>
                        <div class="jd-image xans-record-"><img
                                src="//www.lasheyewear.com/web/product/extra/big/202211/da6fd3d9bc2e4be6d1b27915a7e16026.jpg"
                                class="ThumbImage" alt=""></div>
                        <div class="jd-image xans-record-"><img
                                src="//www.lasheyewear.com/web/product/extra/big/202211/55c80f3783483e9d781aa00c75c399a7.jpg"
                                class="ThumbImage" alt=""></div>
                    </div>
                </div>
                <div class="xans-element- xans-product xans-product-additional jd-description-section ">
                    <h2 class="jd-title">D CLASSIC STORE</h2>
                    <div class="jd-content">
                        <span
                            style="color: rgb(38, 38, 38);font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;font-size: 14px;font-style: normal;font-variant-ligatures: normal;font-variant-caps: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-align: left;text-indent: 0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0px;-webkit-text-stroke-width: 0px;background-color: rgb(255, 255, 255);text-decoration-thickness: initial;text-decoration-style: initial;text-decoration-color: initial;display: inline !important;float: none;">
                            우드와 화이트톤을 사용하여 전반적으로 따뜻하고&nbsp;차분한 분위기를 연출했으며, 편하게 앉아 서로 대화를&nbsp;통해 원하는 안경을 찾을 수 있게끔 조성된
                            디클래식 안경원.</span>
                        <br><br><br>
                        <strong>
                            <span style="color: rgb(0, 0, 0); font-size: 14px; font-family: SimSun, sans-serif;">간단한 매장
                                소개 부탁드립니다.</span>
                        </strong>
                        <span style="font-size: 14px;">
                            <span style="font-family: SimSun,sans-serif;">
                                <span style="color: rgb(0, 0, 0);"></span>
                            </span>
                        </span>
                        <br>
                        <span style="font-size: 14px;">
                            <span style="font-family: SimSun,sans-serif;">
                                <span style="color: rgb(0, 0, 0);">저희는 안경을 진정성 있게 대하는 태도로 방문해 주시는 모든 분들께 물건을 단순히 판매한다기
                                    보다 안경마다 지닌 가치와 스토리를 소개하는 아이웨어 큐레이팅 서비스 제공을 목표로 하고 있습니다.<br></span>
                            </span>
                            <span style="font-family: SimSun,sans-serif;">
                                <span style="color: rgb(0, 0, 0);"><br></span>
                            </span>
                        </span>
                        <br>
                        <span style="font-size: 14px;">
                            <span style="font-family: SimSun,sans-serif;">
                                <span style="color: rgb(0, 0, 0);">
                                    <strong>인테리어 컨셉에 대해 설명 부탁드립니다.</strong><br>서구권의 오래된 도서관에서 영감을 받아 세월이 흐를수록 고풍스러운 멋을
                                    더하는 클래식을 모티브 하였고, 손님들께서 차분한 분위기에 맞춰 구경하시면서 숨겨진 보물을 찾는 듯한 설레는 소비에 도움이 되고자
                                    합니다.<br><br><br><strong>본인 매장만의 차별화된 부분이 있는지</strong>
                                </span>
                            </span>
                            <span style="font-family: SimSun,sans-serif;">
                                <span style="color: rgb(0, 0, 0);"><br>특별한 것은 없고요. 흔히 '부족한 것이 넘치는 것보다는 낫다'라는 말이 있는데 저희를
                                    믿고 방문해 주시는 분들을 위한 것이라면 당장 조금 손해일지라도 '넘치는 것이 낫다'라는 생각으로 제품과 서비스를 준비하고
                                    있습니다.<br><br><br><strong>국내 안경원들의 방향성에 대해</strong></span>
                            </span>
                        </span>
                        <br>
                        <span style="font-size: 14px;">
                            <span style="font-family: SimSun,sans-serif;">
                                <span style="color: rgb(0, 0, 0);">
                                    <strong></strong>저에게 국내 안경원들의 방향성 대한 질문은 너무 어려운 것 같아요. 다만, 급변하는 세상의 외부요인에 동요되기보다는
                                    스스로 안경에 대한 진성성 있는 태도(attitude)를 변함이 없이 유지하며 안경이 필요한 분들의 소비를 도울 수 있다면 아마 끝까지 살아(?) 남을
                                    수 있지 않을까 합니다.<br><br><br>
                                    <strong>래쉬 제품들 중 개인적으로 좋아하는 모델 및 이유</strong>
                                </span>
                            </span>
                        </span>
                        <span style="color: rgb(0, 0, 0); font-size: 14px; font-family: SimSun, sans-serif;"></span>
                        <br>
                        <span style="color: rgb(0, 0, 0); font-size: 14px; font-family: SimSun, sans-serif;">개인적으로는 오리지널
                            라인 중 메탈 투브릿지 모델인 타임리스에 가장 큰 매력을 느껴 직접 착용도 하고 있어요. 투 브릿지 안경으로서 너무 크지 않은 적당한 사이즈와 안정된 다각형 쉐입이
                            아마 제 마음에 든 것 같아요.<br><br></span>
                        <br>서울특별시 성동구 도선동 292 디클래식 안경원<br>
                        <meta charset="utf-8">
                        <strong
                            style="font-weight: normal;color: rgb(254, 78, 31);font-family: -apple-system, 'system-ui', 'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo', helvetica, '나눔바른고딕 옛한글', 'NanumBarunGothic YetHangul', sans-serif;font-size: 13px;font-style: normal;font-variant-ligatures: normal;font-variant-caps: normal;letter-spacing: normal;orphans: 2;text-align: left;text-indent: 0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0px;-webkit-text-stroke-width: 0px;background-color: rgb(255, 255, 255);text-decoration-thickness: initial;text-decoration-style: initial;text-decoration-color: initial;">
                            <span style="color: rgb(0, 0, 0);">350, Wangsimni-ro, Seongdong-gu, Seoul, Republic of
                                Korea</span>
                        </strong>
                        <br>
                        <strong style="font-weight: normal; color: rgb(254, 78, 31); font-family: -apple-system">
                            <span style="color: rgb(0, 0, 0);">﻿</span>
                        </strong>
                        <br>
                        <a href="/journal" class="back">BACK TO LIST</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/header.js"></script>
</body>

</html>