<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/journal/style.css">
    <link rel="stylesheet" href="/static/css/journal/journal.css">
    
    <link rel="shortcut icon" href="/image/images/Brand_img/favicon_img.ico">

    <title>journal</title>
</head>
<body>
    <div class="overlay"></div>
    
    <header th:replace="~{fragment/header :: header}"></header>

    <div class="contents">
        <div class="xans-element- xans-product xans-product-normalpackage ">
            <div class="xans-element- xans-product xans-product-listnormal">
                <ul class="journal-masonry">
                    <li id="anchorBoxId_1912" class="journal-item xans-record-1">
                        <div class="thumbnail">
                            <div class="prdImg">
                                <a href="/journal/1" name="anchorBoxName_1912">
                                    <img src="//www.lasheyewear.com/web/product/medium/202211/3bae0eb147f4555d4c81e6900a494984.jpg" id="eListPrdImage1912_1" alt="WOOZ STORE LASH 래쉬 안경테 선글라스">
                                </a>
                            </div>
                        </div>
                        <div class="description">
                            <strong class="name">
                                <a href="/journal/1" class="">
                                    <span style="font-size:16px;color:#000000;">WOOZ STORE</span>
                                </a>
                            </strong>
                            <p style="margin-top: 0px;">2020년 9월에 오픈한 안경원입니다. 하우스 브랜드를 전문으로 다루고, 칼자이스 i-profiler, 에실로 eye-ruler 등 검안 장비에도 신경쓰고있으며 안경에 가장 기본이되는 검안과 피팅을 중요시하고 있습니다.</p>
                            <a href="/journal/1">READ MORE</a>
                        </div>
                    </li>
                    <li id="anchorBoxId_1911" class="journal-item xans-record-2">
                        <div class="thumbnail">
                            <div class="prdImg">
                                <a href="/journal/2" name="anchorBoxName_1911">
                                    <img src="//www.lasheyewear.com/web/product/medium/202211/e22d23dd1fe4f135b5e1644fd5130724.jpg" id="eListPrdImage1911_1" alt="LASH BRAND SHOWCASE LASH 래쉬 안경테 선글라스">
                                </a>
                            </div>
                        </div>
                        <div class="description">
                            <strong class="name">
                                <a href="/journal/2" class="">
                                    <span style="font-size:16px;color:#000000;">LASH BRAND SHOWCASE</span>
                                </a>
                            </strong>
                            <p style="margin-top: 0px;">래쉬아이웨어의 첫 공식 오프라인 행사인 2023 뉴 컬렉션 브랜드 쇼케이스.</p>
                            <a href="/journal/2">READ MORE</a>
                        </div>
                    </li>
                    <li id="anchorBoxId_1910" class="journal-item xans-record-3">
                        <div class="thumbnail">
                            <div class="prdImg">
                                <a href="/journal/3" name="anchorBoxName_1910">
                                    <img src="//www.lasheyewear.com/web/product/medium/202211/9432b0566d9c0eb350623087240d7bae.jpg" id="eListPrdImage1910_1" alt="D CLASSIC STORE LASH 래쉬 안경테 선글라스">
                                </a>
                            </div>
                        </div>
                        <div class="description">
                            <strong class="name">
                                <a href="/journal/3" class="">
                                    <span style="font-size:16px;color:#000000;">D CLASSIC STORE</span>
                                </a>
                            </strong>
                            <p style="margin-top: 0px;">우드와 화이트톤을 사용하여 전반적으로 따뜻하고 차분한 분위기를 연출했으며, 편하게 앉아 서로 대화를 통해 원하는 안경을 찾을 수 있게끔 조성된 디클래식 안경원.</p>
                            <a href="/journal/3">READ MORE</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>