<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lash_brand_showcase</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/page_main/js/jquery.nicescroll.min.js" type="text/javascript"></SCRIPT>
    <link rel="shortcut icon" href="/image/images/Brand_img/favicon_img.ico">
    <link rel="stylesheet" href="/static/css/journal/journal_all.css">
    <link rel="stylesheet" href="/static/css/journal/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/page_main/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="overlay"></div>
    
    <header th:replace="~{fragment/header :: header}"></header>

    <div class="contents">
        <div class="jd-container">
            <div class="xans-element- xans-product xans-product-detail journal-detail ">
                <div class="xans-element- xans-product xans-product-image jd-image-section ">
                    <div class="xans-element- xans-product xans-product-addimage">
                        <div style="display:none;" class="xans-record-">
                            <span>
                                <img src="//img.echosting.cafe24.com/thumb/img_product_big.gif" class="ThumbImage" alt="">
                            </span>
                        </div>
                        <div class="jd-image xans-record-"><img src="//www.lasheyewear.com/web/product/extra/big/202211/914c4541495ac84705a4833916113471.jpg" class="ThumbImage" alt=""></div>
                        <div class="jd-image xans-record-"><img src="//www.lasheyewear.com/web/product/extra/big/202211/535d51a9f0457ce4f6da23089e7ce8a3.jpg" class="ThumbImage" alt=""></div>
                        <div class="jd-image xans-record-"><img src="//www.lasheyewear.com/web/product/extra/big/202211/aee6b3eacb752ba300a112a60a1e3f0a.jpg" class="ThumbImage" alt=""></div>
                        <div class="jd-image xans-record-"><img src="//www.lasheyewear.com/web/product/extra/big/202211/69d19d5230ccd8488645f171b254e526.jpg" class="ThumbImage" alt=""></div>
                        <div class="jd-image xans-record-"><img src="//www.lasheyewear.com/web/product/extra/big/202211/681b691ee1e8c04a068c67875f3dd75a.jpg" class="ThumbImage" alt=""></div>
                    </div>
                </div>
                <div class="xans-element- xans-product xans-product-additional jd-description-section ">
                    <h2 class="jd-title">LASH BRAND SHOWCASE</h2>
                    <div class="jd-content">
                        <span style="color: rgb(0, 0, 0);">
                            <strong>래쉬아이웨어의 첫 공식 오프라인 행사인 2023 뉴 컬렉션 브랜드 쇼케이스.</strong>
                        </span>
                        <br>디스플레이 공간 구성은 국내 모듈러 가구 브랜드인 빌드웰러(builddweller)와 함께 협업하여 제작하였습니다. 분산되는 집기들을 덜어내고, 구심점을 지닌 센터피스를 통해 최소한의 집기로 디스플레이 수량을 수용할 수 있는 효율성과 래쉬의 정체성을 단번에 각인시킬 수 있는 임팩트의 공간감을 지향하였습니다. 또 ‘어우러짐’이라는 가치 아래 일상에 접목한 가구를 제작하는 ‘공원 컴퍼니’에서 맞춤 제작한 디스플레이 집기도 추가하여 공간을 더 풍성하게 구성하였습니다.<br></div>
                    <a href="/journal" class="back">BACK TO LIST</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/header.js"></script>
</body>
</html>